<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Check Out Our Newest Drops</h2>
            <a href="" class="cs-button-solid">Shop</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/IMG_7440.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/IMG_7440.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/IMG_7440.jpg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1152">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Check Out Our Instagram</span>
            <h2 class="cs-title"></h2>
        </div>
        <behold-widget feed-id="hyHpoq8f2DVtpWLKNobO"></behold-widget>
<script>
  (() => {
    const d=document,s=d.createElement("script");s.type="module";
    s.src="https://w.behold.so/widget.js";d.head.append(s);
  })();
</script>
    </div>
</section>
                                                              