---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Who We Are</h1>
        <p>For over 20 years, Andrew Noble has been crafting unique, hand-poured concrete designs that bring beauty and character to any space. From modern planters, pots and firepits to custom troughs for fountains, every piece reflects his passion for timeless design and skilled craftsmanship.</p>
        <p>Locally made and thoughtfully designed, Andrew's work blends form and function to create pieces that stand out while standing the test of time. Let Amanos help you elevate your space with concrete creations that are anything but ordinary.</p>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/IMG_5957.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/IMG_5957.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/IMG_5957.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                  Gallery                     -->
    <!-- ============================================ -->

<div id="gallery-565">
    <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/IMG_5954.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/IMG_5954.webp">
        <img loading="lazy" decoding="async" src="/assets/images/IMG_5954.webp" alt="picture" width="480" height="549">
    </picture>
    <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/IMG_5954.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/IMG_5954.webp">
        <img loading="lazy" decoding="async" src="/assets/images/IMG_5954.webp" alt="picture" width="480" height="549">
    </picture>
    <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/IMG_5954.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/IMG_5954.webp">
        <img loading="lazy" decoding="async" src="/assets/images/IMG_5954.webp" alt="picture" width="480" height="549">
    </picture>
    <picture class="cs-picture">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/IMG_5954.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/IMG_5954.webp">
        <img loading="lazy" decoding="async" src="/assets/images/IMG_5954.webp" alt="picture" width="480" height="549">
    </picture>
</div>
                                

    {% include 'components/cta.html' %}

{% endblock %}