---
title: 'Project One | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-one/'
eleventyNavigation:
    key: Project One
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Questions</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/IMG_5957.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/IMG_5957.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/IMG_5957.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

   <!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-708">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/IMG_7187.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/IMG_7187.png">
            <img loading="lazy" decoding="async" src="/assets/images/IMG_7187.png" alt="rocks" width="650" height="740" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Who We Are</span>
            <!-- <h2 class="cs-title">How We Work</h2> -->
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What is AMANOS?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Amanos was created from over 20 years of working with and designing concrete pieces. Our proprietary method of finishing and patina allows us to create custom pieces that in the past, could only be found, not made.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How do we make each piece?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Each piece is formed partly in a mold and partly by hand. Its a process we have developed to make sure we can keep the shape we want, but if needed help create some of the imperfections we love. This makes every piece unique. No two are alike. After curing we hand chisel the entire surface of each piece.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How long does it take to make each piece?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        In whole, Each piece is a 3 day process. There are 3 steps we go through…forming and molding, chiseling, patina/seal.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Can you make custom pieces?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        One of the main resons that people choose AMANOS is because we have the ability to make custom shapes, sizes and finishes.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How can I place a custom order?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Check out our contact page to get in touch with us to get a conversation going about your custom piece.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                


    {% include 'components/cta.html' %}

{% endblock %}