---
title: 'Amanos | Interior Decorative Concrete | Orange, CA'
description: 'Skilled Decorative Concrete Producers'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-82">
    <div class="cs-container">
        <h1 class="cs-title">Amanos</h1>
        <!-- <p class="cs-text">
            Crafted By Hand  
          </p> -->
        <a href="" class="cs-button-solid">shop</a>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/img_7431.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/img_7431.jpg">
        <img decoding="async" src="/assets/images/img_7431.jpg" alt="kitchen" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-43">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">OUR PIECES</span>
            <h2 class="cs-title">Hand-Made, One Of A Kind</h2>
        </div>
        <div class="cs-image-group">
            <!-- Image 1 -->
            <a class="cs-item" href="">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/IMG_5967.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/IMG_5967.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/IMG_5967.webp" alt="fancy house" width="346" height="346">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Crafted by Hand</h3>
                </div>
            </a>
            <!-- Image 2 -->
            <a class="cs-item" href="">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/IMG_5958.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/IMG_5958.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/IMG_5958.webp" alt="modern house" width="346" height="346">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Crafted by Hand</h3>
                </div>
            </a>
            <!-- Image 3 -->
            <a class="cs-item" href="">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/IMG_5952.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/IMG_5952.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/IMG_5952.webp" alt="modern home at night" width="346" height="346">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Crafted by Hand</h3>
                </div>
            </a>
            <!-- Image 4 -->
            <a class="cs-item" href="">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/IMG_5954.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/IMG_5954.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/IMG_5954.webp" alt="modern home" width="346" height="346">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Crafted by Hand</h3>
                </div>
            </a>
            <!-- Image 5 -->
            <a class="cs-item" href="">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/IMG_7435.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/IMG_7435.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/IMG_7435.webp" alt="appliance" width="346" height="346">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Crafted by Hand</h3>
                </div>
            </a>
            <!-- Image 6 -->
            <a class="cs-item" href="">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/IMG_7187.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/IMG_7187.png">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/IMG_7187.png" alt="modern home" width="346" height="346">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-h3">Crafted by Hand</h3>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-708">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/IMG_7434.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/IMG_7434.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/IMG_7434.jpg" alt="rocks" width="650" height="740" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Who We Are</span>
            <!-- <h2 class="cs-title">How We Work</h2> -->
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What is AMANOS?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Amanos was created from over 20 years of working with and designing concrete and limestone pieces. Our proprietary method of finishing and patina allows us to create custom pieces that in the past, could only be found, not made.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What does AMANOS specialize in?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        AMANOS specializes in creating unique limestone planters, troughs, and firepits that can't be found anywhere else. Our unique processes achieve an antique limestone appearance while maintaining quality craftsmanship that can be depended on.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How do we make each piece?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Each piece is formed partly in a mold and partly by hand. Its a process we have developed to make sure we can keep the shape we want, but if needed help create some of the imperfections we love. This makes every piece unique. No two are alike. After curing we hand chisel the entire surface of each piece.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How long does it take to make each piece?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        In whole, each piece is a 3 day process. There are 3 steps we go through, forming/molding, chiseling, and patina/sealing.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Can you make custom pieces?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        One of the main reasons that people choose AMANOS is because we have the ability to make custom shapes, sizes and finishes according to your needs.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How can I place a custom order?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Check out our contact page to get in touch with us to get a conversation going about your custom piece.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                

                                
    {% include 'components/cta.html' %}
{% endblock %}